<div class="my-5 container d-flex flex-column">
    <div *ngFor="let attribute of attributes">
    <div class="">
        <ng-container *ngIf="attribute != 'image'; else esImagen">
            <h5 class="m-0">{{attribute}}: </h5>
            <p class="">{{character[attribute]}}</p>
        </ng-container>
    </div>
    <div class="">
        <ng-template #esImagen>
        <img class="w-25" [src]="character[attribute]" alt="Rick and Morty character {{character.name}}">
        </ng-template>
    </div>
    </div>
</div>

